body {
  margin: 0;
  padding: 0;
}

.Blackcontainer {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle {
  background-color: #FFC300;
  height: 650px;
  width: 350px;
  border-radius: 55px;
  border: 2px solid white;
}

.inner-rectangle {
  border: 8px solid black;
  height: 645px;
  width: px;
  border-radius: 55px;

}

/* This is the CSS for the Login Component */

.main-title{
  color: black;
  font-size: 45px;
  font-style: italic;
}

.sub-title{
  color: black;
  font-style: italic;
}

.image-radius{
  border-radius: 40px;
}

.btn-rounded {
  color:white;
  font-size: 22px;
  font-style: italic;
  border-radius: 40px;
  padding: 5px;
  width: 175px;
}

/* This is the CSS for userInfo */

.top-text{
  color: black;
  font-size: 20px;
  font-style: italic;
}

.input-label{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}


