body {
  margin: 0;
  padding: 0;
}

.Blackcontainer {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle {
  background-color: #FFC300;
  height: 650px;
  width: 350px;
  border-radius: 55px;
  border: 2px solid white;
}

.inner-rectangle {
  border: 8px solid black;
  height: 645px;
  width: px;
  border-radius: 55px;

}

/* This is the CSS for the Login Component */

.main-title{
  color: black;
  font-size: 45px;
  font-style: italic;
}

.sub-title{
  color: #99261D;
  font-style: italic;
  font-weight: bold;
}

.image-radius{
  border-radius: 40px;
}

.btn-rounded {
  color:white;
  font-size: 22px;
  font-style: italic;
  border-radius: 40px;
  padding: 5px;
  width: 175px;
  border-style: solid;
  border-color: white .5;
}

/* This is the CSS for userInfo */

.top-text{
  color: #99261D;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.input-label{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: #99261D;
}


.btn-rounded-small {
  color:white;
  font-size: 22px;
  font-style: italic;
  border-radius: 40px;
  padding: 5px;
  width: 100px;
}

.top-text-bold{
  color: black;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.dropdown{
  border-radius: 40px important;
  background-color: red important;
}

.rounded-10 {
  border-radius: 600px !important;
}

.btn-rounded-smaller {
  color:white;
  font-size: 15px;
  font-style: italic;
  border-radius: 40px;
  padding: 1px;
  width: 73px;
  margin-left: 4px;
}


.top-text-bold-bee-keeper{
  color: #99261D;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}